* {
  box-sizing: border-box;
}
.body {
  color: #363738;
  background-color: #fcfcfd;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 16px;
  line-height: 1;
}
.container{
  display: flex;
  position: relative;
}
/* .containerLeft {
  width: 100%;
  height: 100%;
  background-image: url("https://uploads-ssl.webflow.com/63e3828…/641b4c9…_Untitled%20design%20(11).png");
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  justify-content: flex-end;
  align-self: auto;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  background-color: rgba(40, 238, 167, .9);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  
}
.containerRight {
  width: 100%;
  height: 100%;
  background-color: #363738;
  background-image: linear-gradient(rgba(35, 35, 35, .85), rgba(35, 35, 35, .85)), url("https://uploads-ssl.webflow.com/63e3828…/641b4d4…_Untitled%20design%20(12).png");
  background-position: 0 0, 50%;
  background-size: auto, cover;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
} */