* {
  box-sizing: border-box;
}
.body {
  color: #363738;
  background-color: #fcfcfd;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 16px;
  line-height: 1;
}
.container{
  display: flex;
  position: relative;
}
.containerLeft {
  background-color: #28eea7;
  background-position: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0;
  display: flex;
  position: relative;
  width: 100%;
}
.containerHeader{
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
}
.part{
  position: absolute;
  top: 35%;
  bottom: 0%;
  right:0%;
  width: 100%;
  height: 35vh;
  max-width: 600px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 50px;
  display: flex;
}
.textContainer{
  height: 100vh;
  width: 100vh;
  margin-right: 0;
  background-color:  rgba(40, 238, 167, .9);
}
.h1Background{
  color: #fcfcfd;
  background-color: #363738;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  font-size: 24px;
}
.containerText{
    flex: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1
}
.containerP{
  text-align: right;
  flex: 1;
  margin-top: 40px;
  line-height: 2;
}
